

body {
	background-image: url(../images/dragonscrown_environment_quartz_cave.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 980px;
	margin: auto;
	
}

.instructions {
	-ms-grid-column-span: inherit;
	background: rgba(12, 10, 10, 0.26);

}

body * {
	color: white;

}

h1, h3, span{
	font-weight: bold;
	text-align: center;
	color: rgb(238, 38, 195);
	
}
h1{
	text-align: center;
	font-size: 30pt;
	color: rgb(238, 38, 195);
}

h2 {
	text-align: center;	
	color: rgb(238, 38, 195);
}

ol * {
	list-style: decimal inside; 
	padding: -20px;
	text-indent: 200px;
	color: rgb(212, 208, 255);
}
ul {
	list-style: disc inside;
	padding: 20px;

}

.numberToMatch, .winsAndLosses{
	float: center;
	height: 30px;
}
.userTotal{

	height: 60px;
}
.gems{
	clear: both;
	text-align: center;
}
.gemImage{
	height: 100px;
	margin-top: 50px;
	padding: 10px;

}


